<div class="container">
  <div class="filters pt-2 pt-sm-4">
    <button class="btn btn-filters" type="button"
            data-toggle="collapse"
            data-target="#collapseFilters"
            aria-expanded="false"
            aria-controls="collapseFilters">

      <span class="d-flex align-items-center justify-content-around">
        <%= active_filter(params)  %>
        <%= image_tag 'icons/down-arrow.svg', width: 12, height: 12 %>
      </span>
    </button>
    <div class="collapse" id="collapseFilters">
      <div class="card card-body">
        <%= render "shared/filter-link", secretarias: @secretarias %>
      </div>
    </div>
  </div>
  <div class="graph-card">
    <%= render "shared/graphs/main-cards", status_hash: status_hash %>
  </div>
  <div class="graph-card card p-2">
    <%= render "shared/graphs/solicitudes-distribution", secretarias_hash: secretarias_hash %>
  </div>
  <div class="graph-card card p-2">
    <%= render "shared/graphs/summary-table", status_hash: status_hash %>
  </div>
</div>
