<card class="card">
  <div class="grid">
    <div class="card-content p-3">
      <div class="card-objective d-flex align-items-center mb-3">
        <div class="icon pr-2">
          <%= image_tag('icons/aim.svg', width: 24, height: 24) %>
        </div>
        <%= card["name"] %>
      </div>
      <div class="text-center">
        <div class="card-secretary">
          <%= card["labels"].first["name"] %>
        </div>
        <div class="card-subtitle">
          <%= card["custom_info"]["Dependencia"]  %>
        </div>
        <div class="card-fecha-solicitud">
          Fecha de solicitud: <%= convert_utc_date_to_local(card["custom_info"]["Fecha de solicitud"]) %>
        </div>
      </div>
      <div class="card-bottom mt-3">
        <div class="d-flex justify-content-between mt-3">
          <div class="card-bottom-left">
            <div class="d-flex estado mb-1 align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/flag.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Estado:
                </div>
                TODO
              </div>
            </div>
            <div class="col-xs-6 d-flex solicitante align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/people.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Solicitante:
                </div>
                <%= card["custom_info"]["Funcionario"]  %>
              </div>
            </div>
          </div>
          <div class="card-bottom-rigt">
            <div class="d-flex fecha-cambio mb-1 align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/calendar.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Fecha cambio estado:
                </div>
                <%= convert_utc_date_to_local(card["dateLastActivity"])  %>
              </div>
            </div>
            <div class="col-xs-6 d-flex responsable align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/person.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Responsable:
                </div>
                TODO
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="background-color: lime;" >
      <!-- TODO -->
    </div>
  </div>
</card>
