<card class="card">
  <div class="grid">
    <div class="card-content p-3">
      <div class="card-title">
        Secretaría de desarrollo economico
      </div>
      <div class="card-subtitle">
        Subtitulo
      </div>
      <div class="card-fecha-solicitud">
        Fecha de solicitud: 28-05-2020
      </div>
      <div class="card-bottom mt-3">
        <div class="card-objective d-flex align-items-center">
          <div class="icon pr-2">
            <%= image_tag('icons/aim.svg', width: 24, height: 24) %>
          </div>
          Objetivo de la solicitud
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div class="card-bottom-left">
            <div class="d-flex estado mb-1 align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/flag.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Estado:
                </div>
                Recibida
              </div>
            </div>
            <div class="col-xs-6 d-flex solicitante align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/people.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Solicitante:
                </div>
                Lina González
              </div>
            </div>
          </div>
          <div class="card-bottom-rigt">
            <div class="d-flex fecha-cambio mb-1 align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/calendar.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Fecha cambio estado:
                </div>
                25-02-2020
              </div>
            </div>
            <div class="col-xs-6 d-flex responsable align-items-center">
              <div class="icon pr-2">
                <%= image_tag('icons/person.svg', width: 20, height: 20) %>
              </div>
              <div class="card-info">
                <div class="help-text">
                  Responsable:
                </div>
                Daniel López
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-status-color">
    </div>
  </div>
</card>
